.uzvluk-anketi {
	padding-bottom: 8rem;

	&__label {
		@include font($gsi, 1.5rem, #B9B9B9, 18px);

		&--color {
			@include font($gs, 1.5rem, #3E3E3E, 18px);


			
		}
	}


	&__input, &__textarea {
		@include font($gsl, 2rem, $color-dark-light, 23px);
		border: none;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, .16);
		margin-bottom: 2.7rem;

		&:focus {
			outline: none;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .16);
			transform: scale(1.02) translateY(-3px);

		}
	}

	&__input {
		height: 5rem;
	}

	&__link {
		@include font($gsi, 2rem, $color-dark, 23px);
		border-bottom: 1px solid $color-dark;
		

		&:hover {
			color: $color-primary;
			text-decoration: none;
			border-bottom: 1px solid $color-primary;
		}
	}
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-image: none;
}
.custom-radio .custom-control-label::before {
	border-radius: 0;
}
.custom-control-label::before {
	width: 1.5rem;
	height: 1.5rem;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);

}