.banner {
	
	background-image: url('../../img/bannerbg.png');
	background-size: cover;
	
	&__container {
		background-image: url('../../img/bannerimg.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		padding-bottom: 6rem;

		@include respondmax(md) {
			background-image: none;
		}
	}

	&__text {
		@include font($gs, 2rem, $color-white, 30px);
		max-width: 58.8rem;
		padding-top: 9.8rem;
		padding-bottom: 5.7rem;
		text-align: center;
	}

}