.banner {
	padding-bottom: 6rem;
	background-image: url('../../img/Mask Group 15.png');
	background-size: cover;
	background-position: top left;

	&__text {
		@include font($gs, 2rem, $color-white, 30px);
		max-width: 58.8rem;
		padding-top: 9.8rem;
		padding-bottom: 5.7rem;
		text-align: center;
	}

}