.secilmis-mehsullar {

	&__item {

	}

	&__card {

	}
	
	&__card-body {

	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__tittle {

	}
	&__price {

	}
	&__subtittle {

	}
	&__star {
		display: flex;
		list-style: none;
	}
}