.border-img {
	position: relative;
	display: inline-block;
	
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: -17px; 
		left: -10px;
		background: red;
		z-index: -1;
	}
}