.mybtn {
text-align: center;
	&__btn{
		@include font($gsm, 2.4rem, $color-primary, 23px);
		border: 2px solid $color-primary;
		background-color: transparent;
		width: 21.8rem;
		height: 4.4rem;
		text-align: center;
		padding-top: .8rem;
		padding-bottom: .8rem;

		&:hover {
			background-color: $color-primary;
			color: $color-white;


		}
	}
}