<!-- Header -->
<header class="header1">
	<!-- Header desktop -->
	<div class="container-menu-header">
		<div class="topbar">
			<div class="topbar-social">
				<a href="#" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="#" title=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
				<a href="#" title=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>

				<div class="lang">
					<a href="#"  class="navAfter active" title="">AZ</a>
					<a href="#" class="navAfter" title="">EN</a>
					<a href="#" class="navAfter" title="">RU</a>
				</div>
			</div>


			<div class="topbar-child2">
				<a href="#" class="navAfter" title="">virtual mağazınızı qurun</a>
				<a href="#" class="navAfter" title="">daxil olun</a>
				<button type="button" class="navBtn btn btn-outline-primary">MƏHSULLAR</button>
				
			</div>

		</div>


		<div class="logoCenter">
			<img src="img/Asqia-logo@2x.png"   alt="">
			<p class="logoCenter__text">"Azərbaycanda Qadın Sahibkarlığının İnkişafı Assosiasiyası" İctimai Birliyi
			</p>
			<p class="logoCenter__text">İctimai Birliyi
			</p>
		</div>

		<div class="wrap_header"> 
			<!-- Logo -->
			<!-- <a href="index.html" class="logo">
				<img src="img/Asqia-logo@2x.png" class="img-fluid" alt="IMG-LOGO">
			</a> -->

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li class="nav-item dropdown">         
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">haqqimizda</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item" ><a href="#">Tariximiz</a></li>
								<li class="dropdown-item" ><a href="meqsed.html">Məqsəd və vəzifəmiz</a></li>
								<li class="dropdown-item" ><a href="struktur.html">Strukturumuz</a></li>
								<li class="dropdown-item" ><a href="sedrin-muracieti.html">Sədrin müraciəti</a></li>
								<li class="dropdown-item" ><a href="news.html">Xəbərlər</a></li>
								<li class="dropdown-item" ><a href="mediadabiz.html">Mediada biz</a></li>
							</ul>
						</li>


						<li class="nav-item dropdown">         
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">üzvlər</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item" ><a href="uzvluk-qaydalari.html">Üzvlüyün qaydaları</a></li>
								<li class="dropdown-item" ><a href="uzvluk-anketi.html">Üzvlük anketi</a></li>
								<li class="dropdown-item" ><a href="aktiv-uzvler.html">Aktiv üzvlər</a></li>
								<li class="dropdown-item" ><a href="terefdaslar.html">Milli tərəfdaşlar</a></li>
								<li class="dropdown-item" ><a href="terefdaslar-int.html">Beynəlxalq tərəfdaşlar</a></li>
								<li class="dropdown-item" ><a href="#" data-toggle="modal" data-target="#uzvlerModal">Hesabatlar</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">         
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">fəaliyyətimiz</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item" ><a href="olke-daxilinde.html">Ölkə daxilində</a></li>
								<li class="dropdown-item" ><a href="olke-xaricinde.html">Ölkə xaricində</a></li>
								<li class="dropdown-item" ><a href="xidmetlerimiz.html">Xidmətlərimiz</a></li>
								<li class="dropdown-item" ><a href="#">Məhsullarımız</a></li>
								<li class="dropdown-item" ><a href="layiheler.html">Layihələrimiz</a></li>
								<li class="dropdown-item" ><a href="#" data-toggle="modal" data-target="#fealiyyetlerModal">Hesabat</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">         
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">tədris</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item" ><a href="seminarlar.html">Seminarlar</a></li>
								<li class="dropdown-item" ><a href="telimler.html">Təlimlər</a></li>
								<li class="dropdown-item" ><a href="deyirmi-masa.html">Dəyirmi masalar</a></li>
								<li class="dropdown-item" ><a href="xaricde-ixtisasartirma.html">Xaricdə ixtisasartırma</a></li>
								<li class="dropdown-item" ><a href="video-tedris.html">Video tədris</a></li>
								<li class="dropdown-item" ><a href="#"  data-toggle="modal" data-target="#tedrisModal">Hesabat</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">         
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sahibkar qadınlar</a>
							<ul class="dropdown-menu">
								<li class="dropdown-item" ><a href="sahibkar-qadinlari-taniyaq.html">Sahibkar qadınları tanıyaq</a></li>
								<li class="dropdown-item" ><a href="#">Uğurlu sahibkar qadınlar</a></li>
								<li class="dropdown-item" ><a href="sahibkar-nece-olum.html">Sahibkar necə olum?</a></li>
								<li class="dropdown-item" ><a href="magaza-nece-qurum.html">Virtual mağaza necə qurum?</a></li>
								<li class="dropdown-item" ><a href="biznes-inkisaf.html">Biznesi necə inkişaf etdirim?</a></li>
								<li class="dropdown-item" ><a href="#" data-toggle="modal" data-target="#sahibkarModal" >Hesabat</a></li>
							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="contact.html">əlaqə</a></li>

					</ul>
				</nav>
			</div>


		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap_header_mobile">
		<!-- Logo moblie -->
		<a href="index.html" class="logo-mobile">
			<img src="img/Asqia-logo@2x.png" alt="IMG-LOGO">
		</a>

		<!-- Button show menu -->
		<div class="btn-show-menu">

			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>
	</div>

	<!-- Menu Mobile -->
	<div class="wrap-side-menu" >
		<nav class="side-menu">
			<ul class="main-menu">
				<li class="item-topbar-mobile ">
					<div class="topbar-social">
						<a href="#" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>

						<div class="lang">
							<a href="#"  class="navAfter active" title="">AZ</a>
							<a href="#" class="navAfter" title="">EN</a>
							<a href="#" class="navAfter" title="">RU</a>
						</div>
					</div>


				<!-- 	<div class="topbar-child2">
						<a href="#" class="navAfter" title="">virtual mağazınızı qurun</a>
						<a href="#" class="navAfter" title="">daxil olun</a>
						<button type="button" class="navBtn btn btn-outline-primary">MƏHSULLAR</button>

					</div> -->

				</li>

				<li class="item-topbar-mobile">
					<a href="#" class="navAfter" title="">virtual mağazınızı qurun</a>
					<a href="#" class="navAfter" title="">daxil olun</a>
					<button type="button" class="navBtn btn btn-outline-primary">MƏHSULLAR</button>
				</li>


				<li class="item-menu-mobile">         
					<a href="#">haqqimizda</a>
					<ul class="sub-menu">
						<li><a href="#">Tariximiz</a></li>
						<li><a href="meqsed.html">Məqsəd və vəzifəmiz</a></li>
						<li><a href="struktur.html">Strukturumuz</a></li>
						<li><a href="sedrin-muracieti.html">Sədrin müraciəti</a></li>
						<li><a href="news.html">Xəbərlər</a></li>
						<li><a href="mediadabiz.html">Mediada biz</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>

				<li class="item-menu-mobile">         
					<a href="#">üzvler</a>
					<ul class="sub-menu">
						<li class="dropdown-item" ><a href="uzvluk-qaydalari.html">Üzvlüyün qaydaları</a></li>
						<li><a href="uzvluk-anketi.html">Üzvlük anketi</a></li>
						<li><a href="aktiv-uzvler.html">Aktiv üzvlər</a></li>
						<li><a href="terefdaslar.html">Milli tərəfdaşlar</a></li>
						<li><a href="terefdaslar-int.html">Beynəlxalq tərəfdaşlar</a></li>
						<li><a href="#" data-toggle="modal" data-target="#uzvlerModal">Hesabatlar</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>


				<li class="item-menu-mobile">         
					<a href="#">fealiyyet</a>
					<ul class="sub-menu">
						<li ><a href="olke-daxilinde.html">Ölkə daxilində</a></li>
						<li ><a href="olke-xaricinde.html">Ölkə xaricində</a></li>
						<li ><a href="xidmetlerimiz.html">Xidmətlərimiz</a></li>
						<li ><a href="#">Məhsullarımız</a></li>
						<li ><a href="layiheler.html">Layihələrimiz</a></li>
						<li ><a href="#" data-toggle="modal" data-target="#fealiyyetlerModal">Hesabat</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>



				<li class="item-menu-mobile">         
					<a href="#">tedris</a>
					<ul class="sub-menu">
						<li><a href="seminarlar.html">Seminarlar</a></li>
						<li><a href="telimler.html">Təlimlər</a></li>
						<li><a href="deyirmi-masa.html">Dəyirmi masalar</a></li>
						<li><a href="xaricde-ixtisasartirma.html">Xaricdə ixtisasartırma</a></li>
						<li><a href="video-tedris.html">Video tədris</a></li>
						<li><a href="#"  data-toggle="modal" data-target="#tedrisModal">Hesabat</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>

				<li class="item-menu-mobile">         
					<a href="#">Sahibkar qadınlar</a>
					<ul class="sub-menu">
						<li><a href="sahibkar-qadinlari-taniyaq.html">Sahibkar qadınları tanıyaq</a></li>
						<li><a href="#">Uğurlu sahibkar qadınlar</a></li>
						<li><a href="sahibkar-nece-olum.html">Sahibkar necə olum?</a></li>
						<li><a href="magaza-nece-qurum.html">Virtual mağaza necə qurum?</a></li>
						<li><a href="biznes-inkisaf.html">Biznesi necə inkişaf etdirim?</a></li>
						<li><a href="#" data-toggle="modal" data-target="#sahibkarModal" >Hesabat</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>


				<li class="item-menu-mobile">
					<a href="contact.html">əlaqə</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

