<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="libs/slick-carousel/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="libs/slick-carousel/slick/slick-theme.css"/>

     <!-- Add the owl-carusel if you want default styling -->
     <link rel="stylesheet" type="text/css" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">

      <!-- Add the owl-carusel theme if you want default styling -->
     <link rel="stylesheet" type="text/css" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="libs/components-font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>
<body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]--> 

