<div class="container">
  <nav class="navbar navbar-expand-lg navbar-default" role="navigation">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <a class="navbar-brand" href="index.html"><img src="img/Asqia-logo.png" /></a>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class=" navbar-nav navbar-left">

        <li class="nav-item dropdown">         
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">haqqimizda</a>
         <ul class="dropdown-menu">
          <li class="dropdown-item" ><a href="#">Tariximiz</a></li>
          <li class="dropdown-item" ><a href="meqsed.html">Məqsəd və vəzifəmiz</a></li>
          <li class="dropdown-item" ><a href="#">Strukturumuz</a></li>
          <li class="dropdown-item" ><a href="sedrin-muracieti.html">Sədrin müraciəti</a></li>
          <li class="dropdown-item" ><a href="news.html">Xəbərlər</a></li>
          <li class="dropdown-item" ><a href="mediadabiz.html">Mediada biz</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">         
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">üzvlər</a>
       <ul class="dropdown-menu">
        <li class="dropdown-item" ><a href="#">Üzvlüyün qaydaları</a></li>
        <li class="dropdown-item" ><a href="#">Üzvlük anketi</a></li>
        <li class="dropdown-item" ><a href="aktiv-uzvler.html">Aktiv üzvlər</a></li>
        <li class="dropdown-item" ><a href="terefdaslar.html">Milli tərəfdaşlar</a></li>
        <li class="dropdown-item" ><a href="terefdaslar.html">Beynəlxalq tərəfdaşlar</a></li>
        <li class="dropdown-item" ><a href="#">Hesabatlar</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">         
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">fəaliyyətimiz</a>
     <ul class="dropdown-menu">
      <li class="dropdown-item" ><a href="olke-daxilinde.html">Ölkə daxilində</a></li>
      <li class="dropdown-item" ><a href="olke-xaricinde.html">Ölkə xaricində</a></li>
      <li class="dropdown-item" ><a href="xidmetlerimiz.html">Xidmətlərimiz</a></li>
      <li class="dropdown-item" ><a href="#">Məhsullarımız</a></li>
      <li class="dropdown-item" ><a href="layiheler.html">Layihələrimiz</a></li>
      <li class="dropdown-item" ><a href="#">Hesabat</a></li>
    </ul>
  </li>
</ul>

<ul class=" navbar-nav ml-auto">
  <li class="nav-item dropdown">         
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">tədris</a>
   <ul class="dropdown-menu">
    <li class="dropdown-item" ><a href="#">Seminarlar</a></li>
    <li class="dropdown-item" ><a href="#">Təlimlər</a></li>
    <li class="dropdown-item" ><a href="#">Dəyirmi masalar</a></li>
    <li class="dropdown-item" ><a href="xaricde-ixtisasartirma.html">Xaricdə ixtisasartırma</a></li>
    <li class="dropdown-item" ><a href="#">Video tədris</a></li>
    <li class="dropdown-item" ><a href="#">Hesabat</a></li>
  </ul>
</li>
<li class="nav-item dropdown">         
 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sahibkar qadınlar</a>
 <ul class="dropdown-menu">
  <li class="dropdown-item" ><a href="sahibkar-qadinlari-taniyaq.html">Sahibkar qadınları tanıyaq</a></li>
  <li class="dropdown-item" ><a href="#">Uğurlu sahibkar qadınlar</a></li>
  <li class="dropdown-item" ><a href="sahibkar-nece-olum.html">Sahibkar necə olum?</a></li>
  <li class="dropdown-item" ><a href="magaza-nece-qurum.html">Virtual mağaza necə qurum?</a></li>
  <li class="dropdown-item" ><a href="biznes-inkisaf.html">Biznesi necə inkişaf etdirim?</a></li>
  <li class="dropdown-item" ><a href="#">Hesabat</a></li>
</ul>
</li>
<li class="nav-item"><a class="nav-link" href="contact.html">əlaqə</a></li>

</ul>
</div>
</nav>
</div>