$color-primary: #1B75BC;
$color-primary-light: #27AAE1;

$color-dark: #3E3E3E;
$color-dark-light: #999999;

$color-white: #fff;

$color-border: #CBCBCB;


//fonts
$aznb:jaznb;

$gs: GillSans;

$gsm: GillSans-Medium;

$gsl: GillSans-Light;

$gsi: GillSans-Italic;
